#!/bin/bash

KEY_ALGO=rsa
PRIVATE_KEY_RENEW="no"

#USE CA="letsencrypt-test" FOR TESTING OTHERWISE YOU MIGHT GET BANNED FROM LE https://letsencrypt.org/docs/rate-limits/
#CA="letsencrypt"
CA="letsencrypt-test"

HOOK_CHAIN="no"
WELLKNOWN="/opt/ns-letsencrypt-twice/www-temp"
# E-mail to use during the registration (default: <unset>)
CONTACT_EMAIL="admin@yourdomain.com"

#Challenge Type
#Change to dns-01 for DNS challenge
CHALLENGETYPE="http-01"
